

## Data Files
Germplasm.tsv and LocusGene.tsv contain the datasets we need for the exam.

Our objective is to create a database to contain the data in these files, insert the data into the database, then query the database in a variety of ways.

## Problem 1:  Controls

Write a Python script that proves that the lines of data in Germplasm.tsv, and LocusGene are in the same sequence, based on the AGI Locus Code (ATxGxxxxxx).  (hint: This will help you decide how to load the data into the database)

In [1]:
with open('Germplasm.tsv', 'r') as file:
    germplasm = file.readlines()
germplasm 
    
with open('LocusGene.tsv', 'r') as file:
    LocusGene = file.readlines()

In [2]:
import numpy as np
germplasmNP = np.array([line.strip('\n').split('\t') for line in germplasm[1:]])
LocusGeneNP = np.array([line.strip('\n').split('\t') for line in LocusGene[1:]])

In [3]:
germplasmNP[:, 0] == LocusGeneNP[:, 0]

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

## Problem 2:  Design and create the database.  
* It should have two tables - one for each of the two data files.
* The two tables should be linked in a 1:1 relationship
* you may use either sqlMagic or pymysql to build the database

In [4]:
%load_ext sql
%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

In [5]:
%sql DROP DATABASE IF EXISTS germplasm;
%sql create database germplasm;
%sql show databases;
%sql use germplasm;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [6]:
%sql CREATE TABLE germplasm(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, locus VARCHAR(9) NOT NULL, germplasm VARCHAR(30), phenotype VARCHAR(3000), pubmed INTEGER);
%sql DESCRIBE germplasm

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('locus', 'varchar(9)', 'NO', '', None, ''),
 ('germplasm', 'varchar(30)', 'YES', '', None, ''),
 ('phenotype', 'varchar(3000)', 'YES', '', None, ''),
 ('pubmed', 'int(11)', 'YES', '', None, '')]

In [7]:
%sql CREATE TABLE locusGene(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, locus VARCHAR(9) NOT NULL, gene VARCHAR(30), proteinLength INTEGER);
%sql DESCRIBE locusGene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('locus', 'varchar(9)', 'NO', '', None, ''),
 ('gene', 'varchar(30)', 'YES', '', None, ''),
 ('proteinLength', 'int(11)', 'YES', '', None, '')]

## Problem 3: Fill the database
Using pymysql, create a Python script that reads the data from these files, and fills the database.  There are a variety of strategies to accomplish this.  I will give all strategies equal credit - do whichever one you are most confident with.

In [8]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor,
                             autocommit=True)
try:
    with connection.cursor() as cursor:
        for gp in germplasmNP: 
            sql = 'INSERT INTO germplasm (locus, germplasm, phenotype, pubmed) VALUES ("%s", "%s", "%s", %d)' %(gp[0], gp[1], gp[2], int(gp[3])) 
            cursor.execute(sql)
finally:
    print("")
    connection.close()

In [9]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor,
                             autocommit=True)

try:
    with connection.cursor() as cursor:
        for lg in LocusGeneNP: 
            sql = 'INSERT INTO locusGene (locus, gene, proteinLength) VALUES ("%s", "%s", %d)' %(lg[0], lg[1], int(lg[2])) 
            cursor.execute(sql)
finally:
    print("")
    connection.close()

## Problem 4: Create reports, written to a file

1. Create a report that shows the full, joined, content of the two database tables (including a header line)

2. Create a joined report that only includes the Genes SKOR and MAA3

3. Create a report that counts the number of entries for each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

4. Create a report that shows the average protein length for the genes on each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

When creating reports 2 and 3, remember the "Don't Repeat Yourself" rule! 

All reports should be written to **the same file**.  You may name the file anything you wish.

### Report 1

In [10]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor,
                             autocommit=True)
try:
    with connection.cursor() as cursor:
        sql1 = '''
                SELECT germplasm.locus, germplasm, phenotype, gene, proteinLength
                FROM germplasm, locusGene 
                WHERE germplasm.locus = locusGene.locus
              '''
        cursor.execute(sql1)
        results1 = cursor.fetchall()
finally:
    connection.close()

### Report 2

In [11]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor,
                             autocommit=True)
try:
    with connection.cursor() as cursor:
        sql2 = '''
                AND gene in ('SKOR', 'MAA3')
              '''
        cursor.execute(sql1 + sql2)
        results2 = cursor.fetchall()
finally:
    connection.close()

In [12]:
results2

[{'locus': 'AT3G02850',
  'germplasm': 'CS3816',
  'phenotype': 'The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.',
  'gene': 'SKOR',
  'proteinLength': 234},
 {'locus': 'AT4G15570',
  'germplasm': 'maa3',
  'phenotype': 'Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.',
  'gene': 'MAA3',
  'proteinLength': 294}]

### Report 3

In [13]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor,
                             autocommit=True)
try:
    results3 = []
    with connection.cursor() as cursor:
        for i in range(1, 6):
            sql = f"SELECT COUNT(*) AS nbOfEntriesChr{i} FROM germplasm WHERE locus LIKE 'AT{i}G%'"
            cursor.execute(sql)
            results3.extend(cursor.fetchall())
finally:
    connection.close()

In [14]:
results3

[{'nbOfEntriesChr1': 4},
 {'nbOfEntriesChr2': 4},
 {'nbOfEntriesChr3': 9},
 {'nbOfEntriesChr4': 8},
 {'nbOfEntriesChr5': 7}]

### Report 4

In [15]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor,
                             autocommit=True)
try:
    results4 = []
    with connection.cursor() as cursor:
        for i in range(1, 6):
            sql = f"SELECT AVG(proteinLength) AS avgLengthChr{i} FROM locusGene WHERE locus LIKE 'AT{i}G%'"
            cursor.execute(sql)
            results4.extend(cursor.fetchall())
finally:
    connection.close()

In [16]:
results4

[{'avgLengthChr1': Decimal('258.7500')},
 {'avgLengthChr2': Decimal('215.5000')},
 {'avgLengthChr3': Decimal('252.0000')},
 {'avgLengthChr4': Decimal('277.5000')},
 {'avgLengthChr5': Decimal('271.2857')}]

### Writing reports

In [17]:
writemode = 'w'
for i, results in enumerate([results1, results2], start=1):
    with open('report.tsv', writemode) as file:
        file.write(f'Report{i}\n')
        file.write('\t'.join([str(k) for k in results[0].keys()]) + '\n')
        for result in results:
            file.write('\t'.join([str(v) for v in result.values()]) + '\n')
        file.write('\n\n')
    writemode = 'a'
    
for i, results in enumerate([results3, results4], start=3):
    with open('report.tsv', writemode) as file:
        file.write(f'Report{i}\n')
        for result in results:
            file.write('\t'.join([str(k)+'. '+str(v)  for k,v in result.items()]) + '\n')
        file.write('\n\n')
    writemode = 'a'

<pre>

</pre>
## Don't forget to commit and push your answers before you leave!

It was wonderful to have you in my class!  I hope to see you again soon!

Good luck with your careers!!

Mark